<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta content="telephone=no" name="format-detection">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>华泰保险</title>
    <link type="text/css" rel="stylesheet" href="http://micro.fanqielaile.net/static/js/library/jquery-weui/weui.css">
<link type="text/css" rel="stylesheet" href="http://micro.fanqielaile.net/static/js/library/jquery-weui/jquery-weui.css">
<link type="text/css" rel="stylesheet" href="http://micro.fanqielaile.net/views/c/taianSafe/taianSafe.css">
</head>
<body style="padding-bottom: 0">
<div class="index">
    <div class="index_back">
        <h4>首<br>款</h4>
        <h5>为民宿客栈定制的保险产品</h5>
        <span class="msx"></span>
    </div>
    <div class="index_part">
        <h4><i class="index_icon1"></i>五类保险项目</h4>
        <p>财产保险</p>
        <p>附加盗窃险</p>
        <p>公共责任保险</p>
        <p>附加火灾、爆炸责任险</p>
        <p>经营中断险</p>
    </div>
    <div class="index_part">
        <h4><i class="index_icon1"></i>民宿保险特色</h4>
        <p>保险费低赔付高，最高赔付<a class="color_blue">500万元</a></p>
        <p>覆盖全国<a class="color_blue">27</a>个省份</p>
        <p>购买流程简单易操作</p>
        <p>以客房间数为标准，无需测量房间大小</p>
    </div>
    <div class="index_part">
        <h4>购买问题<i class="index_icon2">?</i></h4>
        <div class="index_q"><span class="color_blue">Q：</span>购买是否需要有营业执照？</div>
        <div class="index_a">A：<span class="color_grey">本次产品是为民宿定制的，因此如果没有营业执照，可以个人身份进行投保。（投保人必须是房屋的业主或者住宿类房屋的经营者）</span></div>
        <div class="index_q"><span class="color_blue">Q：</span>购买后是不是要保险公司上门来核实房屋是否符合参保条件？</div>
        <div class="index_a">A：<span class="color_grey">为了让投保流程更加便捷，我们以投保人在购买链接中填写信息为准。但是填写不准确，是属于不如实告知，可能会导致拒赔。</span></div>
        <div class="index_q"><span class="color_blue">Q：</span>我的客栈在腾冲，房屋是两层，主体是砖混结构，但是当地有《古镇保护条例》政府要求建木结构建筑，第一层是混泥土浇的，第二层的屋顶使用了木结构的瓦屋顶，请问要如何投保？</div>
        <div class="index_a">A：<span class="color_grey">只要房屋主体结构的梁，墙，柱，底，顶等有一项是木质的，就按“木质结构”投保。</span></div>
        <div class="index_q"><span class="color_blue">Q：</span>理赔流程复杂么？</div>
        <div class="index_a">A：<span class="color_grey">小事故小损失，只要提供现场事故照片、相关相关单位证明，就可以快速理赔的。</span></div>
        <div class="index_q"><span class="color_blue">Q：</span>5、没有消防系统可以购买保险么？</div>
        <div class="index_a">A：<span class="color_grey">专业的消防管道消防栓可以没有，但是普通的便携式的消防设备，就像灭火器，这些自救设备还是要准备。</span></div>
    </div>
    <div class="per90 marginT40">
        <a class="indexClick weui_btn weui_btn_primary">点击进入 >></a>
    </div>
    <div class="index_copy">&copy;2010 ehuatai.com 华泰财产保险公司</div>
</div>
<script type="text/javascript" charset="utf-8" src="http://micro.fanqielaile.net/static/js/library/jquery-weui/jquery-2.1.4.js"></script>
<script type="text/javascript" charset="utf-8" src="http://micro.fanqielaile.net/views/c/taianSafe/util/date.js"></script>
<script type="text/javascript" charset="utf-8" src="http://micro.fanqielaile.net/static/js/library/jquery-weui/jquery-weui.js"></script>
<script type="text/javascript" charset="utf-8" src="http://micro.fanqielaile.net/static/js/lib.min.js"></script>
<script type="text/javascript" charset="utf-8" src="http://micro.fanqielaile.net/views/c/taianSafe/util/event.js"></script>
<script type="text/javascript" charset="utf-8" src="http://micro.fanqielaile.net/views/c/taianSafe/taianSafe.js"></script>
</body>
</html>