<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta content="telephone=no" name="format-detection">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>投保条款</title>
    <link type="text/css" rel="stylesheet" href="http://micro.fanqielaile.net/static/js/library/jquery-weui/weui.css">
<link type="text/css" rel="stylesheet" href="http://micro.fanqielaile.net/static/js/library/jquery-weui/jquery-weui.css">
<link type="text/css" rel="stylesheet" href="http://micro.fanqielaile.net/views/c/taianSafe/taianSafe.css">
</head>
<body>
<div class="resultListBlue">
    <h4>投保条款</h4>
    <h5>客栈酒店财产及责任保险</h5>
</div>
<div class="resultListPart">
    <ul class="infoList">
        <li><a href="infoListText1.html">《财产综合险条款》</a></li>
        <li><a href="infoListText2.html">《财产保险附加条款》</a></li>
        <li><a href="infoListText3.html">《附加盗抢险条款》</a></li>
        <li><a href="infoListText4.html">《公众责任保险条款》</a></li>
        <li><a href="infoListText5.html">《公众责任险附加条款》</a></li>
        <li><a href="infoListText6.html">《营业中断保险条款》</a></li>
    </ul>

</div>
<script type="text/javascript" charset="utf-8" src="http://micro.fanqielaile.net/static/js/library/jquery-weui/jquery-2.1.4.js"></script>
<script type="text/javascript" charset="utf-8" src="http://micro.fanqielaile.net/static/js/library/jquery-weui/jquery-weui.js"></script>
<script type="text/javascript" charset="utf-8" src="http://micro.fanqielaile.net/static/js/lib.min.js"></script>
</body>
</html>