<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta content="telephone=no" name="format-detection">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>客栈酒店财产及责任保险（木结构）</title>
    <link type="text/css" rel="stylesheet" href="http://micro.fanqielaile.net/static/js/library/jquery-weui/weui.css">
<link type="text/css" rel="stylesheet" href="http://micro.fanqielaile.net/static/js/library/jquery-weui/jquery-weui.css">
<link type="text/css" rel="stylesheet" href="http://micro.fanqielaile.net/views/c/taianSafe/taianSafe.css">
</head>
<body>
<div class="resultListBlue">
    <h4>根据您的选择，为您精选出以下保险套餐</h4>
    <h5>客栈酒店财产及责任保险</h5>
    <span>木结构房屋</span><span>|</span><span>保期一年</span>
</div>
<div class="resultListPart">
    <h4 class="list_title">简单款</h4>
    <div class="list_part">
        <span class="title fl">保险项目</span>
        <span class="title fr textr">保障金额</span>
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td>财产综合保险</td>
                <td rowspan="2">10,000</td>
            </tr>
            <tr>
                <td>扩展水箱、水管爆裂保障</td>
            </tr>
            <tr>
                <td>附加盗窃险（房客盗窃除外）</td>
                <td>5,000</td>
            </tr>
            <tr>
                <td>公众责任保险</td>
                <td rowspan="3">10,000</td>
            </tr>
            <tr>
                <td>附加火灾、爆炸责任险</td>
            </tr>
            <tr>
                <td>附加广告招牌及装饰物责任保险</td>
            </tr>
            <tr>
                <td>营业中断险</td>
                <td>4,000</td>
            </tr>
        </table>
        <div class="list_btn">
            <div class="fl">
                <span>保费</span>
                <span>￥<label class="woodFee">100</label><i></i></span>
            </div>
            <a onclick="goHrefDetail('wood',0)" class="btn_green fr">我要投保</a>
        </div>
        <div class="tips"><i></i>保费100元可承保最多5间客房。超过5间客房，每增加一间客房，保费增加30元/间.最少可投保1间客房，最高投保不超过50间客房，保险期限：1年。</div>
    </div>
</div>
<script type="text/javascript" charset="utf-8" src="http://micro.fanqielaile.net/static/js/library/jquery-weui/jquery-2.1.4.js"></script>
<script type="text/javascript" charset="utf-8" src="http://micro.fanqielaile.net/views/c/taianSafe/util/date.js"></script>
<script type="text/javascript" charset="utf-8" src="http://micro.fanqielaile.net/static/js/library/jquery-weui/jquery-weui.js"></script>
<script type="text/javascript" charset="utf-8" src="http://micro.fanqielaile.net/static/js/lib.min.js"></script>
<script type="text/javascript" charset="utf-8" src="http://micro.fanqielaile.net/views/c/taianSafe/util/event.js"></script>
<script type="text/javascript" charset="utf-8" src="http://micro.fanqielaile.net/views/c/taianSafe/taianSafe.js"></script>
</body>
</html>