<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta content="telephone=no" name="format-detection">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>客栈酒店财产及责任保险</title>
    <link type="text/css" rel="stylesheet" href="http://micro.fanqielaile.net/static/js/library/jquery-weui/weui.css">
<link type="text/css" rel="stylesheet" href="http://micro.fanqielaile.net/static/js/library/jquery-weui/jquery-weui.css">
<link type="text/css" rel="stylesheet" href="http://micro.fanqielaile.net/views/c/taianSafe/taianSafe.css">
</head>
<body>
<div class="safeDetailTitle">
    <h4>客栈酒店财产及责任保障（非木结构房屋）</h4>
    <h4 class="marginT40" style="margin-bottom: 0">至尊款</h4>
    <h5 class="nowoodFee4">￥2700.00</h5>
</div>
<div class="detailListTop safeDetail">
    <div class="weui_cells weui_cells_access">
        <a class="weui_cell" href="javascript:;">
            <div class="weui_cell_bd weui_cell_primary">
                <p>保险起期</p>
            </div>
            <div class="weui_cell_ft"><input class="date_input" placeholder=""></div>
        </a>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">保险止期</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <div class="weui_cell_ft"></div>
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">客房数量</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <div class="weui_cell_ft safeDetailRoomNo"></div>
        </div>
    </div>
</div>
<div class="list_part">
    <span class="title fl">保险项目</span>
    <span class="title fr textr">保障金额</span>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td>财产综合保险</td>
            <td rowspan="2">5,000,000</td>
        </tr>
        <tr>
            <td>扩展水箱、水管爆裂保障</td>
        </tr>
        <tr>
            <td>附加盗窃险（房客盗窃除外）</td>
            <td>50,000</td>
        </tr>
        <tr>
            <td>公众责任保险</td>
            <td rowspan="3">500,000</td>
        </tr>
        <tr>
            <td>附加火灾、爆炸责任险</td>
        </tr>
        <tr>
            <td>附加广告招牌及装饰物责任保险</td>
        </tr>
        <tr>
            <td>营业中断险</td>
            <td>60,000</td>
        </tr>
    </table>
</div>
<div class="detailListTop" style="background: #ffffff">
    <div class="safeDetailTab">
        <div class="safeTab">
            <ul>
                <li class="on"><span>保障内容</span></li>
                <li><span>投保须知</span></li>
                <li><span>理赔与问题</span></li>
            </ul>
        </div>
    </div>
    <div class="safeDetailPart">
        <h4><i></i>保障内容</h4>
        <table cellspacing="0" cellpadding="0">
            <thead>
            <tr>
                <th>保障项目</th>
                <th>保障金额</th>
                <th>保障内容</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>财产综合保险</td>
                <td rowspan="2">5,000,000</td>
                <td rowspan="2">房屋\装修\办公家具及设备。每次事故绝对免赔额500元。</td>
            </tr>
            <tr>
                <td>扩展水箱、水管爆裂保障</td>
            </tr>
            <tr>
                <td>附加盗窃险(房客盗窃除外)</td>
                <td>50,000</td>
                <td>每次事故绝对免赔额200元</td>
            </tr>
            <tr>
                <td>公众责任保险</td>
                <td rowspan="3">500,000</td>
                <td rowspan="3">每次事故绝对免赔500元（人身伤亡、残疾赔偿限额：10万元/每人，人身意外伤害医疗费用赔偿限额：10000元/每人）</td>
            </tr>
            <tr>
                <td>附加火灾、爆炸责任险</td>
            </tr>
            <tr>
                <td>附加广告招牌及装饰物责任保险</td>
            </tr>
            <tr>
                <td>营业中断险</td>
                <td>60,000</td>
                <td>免赔5天,每天最高赔付1000元，最长赔付60天。</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="safeDetailPart hide">
        <h4><i></i>投保须知</h4>
        <div class="paragraph">
            <h4>1、投保对象</h4>
            <p>本保险计划仅限投保人为标的酒店、客栈的房屋所有者或经营者。被保险人默认为投保人。</p>
            <h4>2、本产品由华泰财产保险有限公司承保。</h4>
            <p></p>
            <h4>3、保险标的</h4>
            <p>钢结构、钢筋混凝土结构、砖混结构、标高在当地洪水警戒线或近20年洪水水位平均值以上的房屋。</p>
            <h4>4、本保险承保区域仅限以下省份、自制区和直辖市</h4>
            <p>北京、上海、天津、重庆、江苏、广东、陕西、四川、辽宁、浙江、云南、河北、湖南、湖北、山西、安徽、福建、山东、广西、河南、江西、内蒙古、贵州、新疆、宁夏、吉林、黑龙江。</p>
            <div class="hide">
                <h4>5、本保险承保范围：客栈或酒店的经营范围</h4>
                <p></p>
                <h4>6、投保房屋使用性质：住宿类</h4>
                <p></p>
                <h4>7、保额限制</h4>
                <p>本保险每人每次限购一份；保险期间内，无论被保险人持有几份本保险，保险人对其承担的保险金给付责任仅以壹份为限，超过部分无效。</p>
                <h4>8、阅读条款</h4>
                <p>投保前请您认真阅读本保险计划的适用条款：<a href="infoListText1.html">《财产综合险条款》</a><a href="infoListText2.html">《财产保险附加条款》</a><a href="infoListText3.html">《附加盗抢险条款》</a><a href="infoListText4.html">《公众责任保险条款》</a><a href="infoListText5.html">《公众责任险附加条款》</a><a href="infoListText6.html">《营业中断保险条款》</a>了解保险责任及除外责任。</p>
                <h4>9、生效时间</h4>
                <p>投保人缴付保险费成功后，保单于次日零时生效。</p>
                <h4>10、保单形式。</h4>
                <p>
                    网上投保为您提供电子保单，根据《中华人民共和国合同法》第十一条规定，数据电文是合法的合同表现形式，电子保单与纸质保单具有同等法律效力。如您需要提供保险费发票可通过拨打客服专线4006095509提出申请。</p>
                <h4>11、保单变更与理赔报案。</h4>
                <p>如果您需要办理保险期间、保单错误信息、通讯信息、身故受益人变更，退保或理赔报案等业务，请您拨打我公司客服电话4006095509。</p>
                <h4>12、保费</h4>
                <p>每份保障计划最低保费2700元，可承保最多30间客房。超过30间客房，每增加一间客房，保费增加30元/间。最少可投保1间客房，最高投保不超过50间客房。</p>
            </div>
            <div class="seeMore">查看全文<i></i></div>
        </div>
    </div>
    <div class="safeDetailPart hide">
        <h4><i></i>理赔与问题</h4>
        <div class="lpAndQ">
            <i></i>
            <p>1、当保险标的发生保单中约定的保险责任事故，请立即拨打华泰财产保险有限公司的客服热线：40060-95509进行报案。我们的客服人员将告知您在当地如何处理、告知索赔所需相关证明资料。</p>
        </div>
        <div class="lpAndQ">
            <i></i>
            <p>2、当准备好理赔证明材料后，可向我们理赔人员提交理赔材料，我司理赔人员在审核通过后，将按照保险合同的约定进行赔付。</p>
        </div>
        <div class="lpAndQ">
            <i></i>
            <p>3、本投保人兹声明以上各项内容填写属实，已征得被保险人同意，被保险人认可保险金额。</p>
        </div>
        <div class="lpAndQ">
            <i></i>
            <p>
                4、本投保人已认真阅读并理解《财产综合险条款》、《财产保险附加条款》、《附加盗抢险条款》、《公众责任保险条款》、《公众责任险附加条款》、《营业中断保险条款》、投保须知等全部内容，尤其是有关免除保险人责任的条款。本投保人同意接受条款全部内容。</p>
        </div>
        <div class="lpAndQ">
            <i></i>
            <p>5、根据《中华人民共和国合同法》第十一条规定，数据电文是合法的合同表现形式，本人接受华泰财产保险有限公司提供的电子保单作为本次投保的合法有效凭证。并同意将电子保单发出之日的次日视为客户签收日。</p>
        </div>
        <div class="lpAndQ">
            <i></i>
            <p>6、本投保人同意以贵公司的电子记录凭证等数据电文作为判断本保险合同的唯一合法有效凭证，该凭证具有完全证据效力。</p>
        </div>
        <div class="qustion">
            <h2>Q：保险起期能选当日时间吗？</h2>
            <p>A：不能。</p>
            <h2>Q：保单如何验真？</h2>
            <p>A：您投保成功后，最晚可以投保次日起，通过本公司网页<a href="http://pc.ehuatai.com/">pc.ehuatai.com</a>和客服电话40060-95509核实承保和理赔信息，若对查询结果有异议，可在网站留言和通过客服电话反馈。</p>
        </div>
    </div>
</div>

<div class="per90 marginT20">
    <a class="weui_btn weui_btn_primary btn_tb">立即投保</a>
</div>
<div class="forTel">如有疑问，请咨询<a class="clickTel">40060-95509</a></div>

<script type="text/javascript" charset="utf-8" src="http://micro.fanqielaile.net/static/js/library/jquery-weui/jquery-2.1.4.js"></script>
<script type="text/javascript" charset="utf-8" src="http://micro.fanqielaile.net/views/c/taianSafe/util/date.js"></script>
<script type="text/javascript" charset="utf-8" src="http://micro.fanqielaile.net/static/js/library/jquery-weui/jquery-weui.js"></script>
<script type="text/javascript" charset="utf-8" src="http://micro.fanqielaile.net/static/js/lib.min.js"></script>
<script type="text/javascript" charset="utf-8" src="http://micro.fanqielaile.net/views/c/taianSafe/util/event.js"></script>
<script type="text/javascript" charset="utf-8" src="http://micro.fanqielaile.net/views/c/taianSafe/taianSafe.js"></script>
</body>
</html>