<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta content="telephone=no" name="format-detection">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>定制保险</title>
    <link type="text/css" rel="stylesheet" href="http://micro.fanqielaile.net/static/js/library/jquery-weui/weui.css">
<link type="text/css" rel="stylesheet" href="http://micro.fanqielaile.net/static/js/library/jquery-weui/jquery-weui.css">
<link type="text/css" rel="stylesheet" href="http://micro.fanqielaile.net/views/c/taianSafe/taianSafe.css">
</head>
<body>
<div class="step1_top">
    为了更好的推荐合适您的保险<br>请先完成以下三个步骤
    <ul>
        <li class="on"><i class="step_circle">1</i></li>
        <li><i class="step_circle">2</i></li>
        <li><i class="step_circle">3</i></li>
    </ul>
</div>
<div class="detailListTop" style="background: #ffffff">
    <i class="blueTitleIcon"></i>
    <div class="per90">
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label" style="width:100%">选择您的目的地</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <div class="weui_cell_ft"></div>
            </div>
        </div>
        <div class="weui_cells weui_cells_access" id="county">
            <a class="weui_cell" href="javascript:;">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>省份</p>
                </div>
                <div class="weui_cell_ft"></div>
            </a>
        </div>
        <div class="weui_cell">
            <div class="weui_cells_title">注：以下地区暂不承保，西藏，海南，甘肃，青海，台湾，澳门，香港</div>
        </div>

    </div>
</div>
<div class="per90 marginT80">
    <a class="weui_btn step1Click btn_disabled">下一步</a>
</div>
<!--weui_btn_primary-->
<script type="text/javascript" charset="utf-8" src="http://micro.fanqielaile.net/static/js/library/jquery-weui/jquery-2.1.4.js"></script>
<script type="text/javascript" charset="utf-8" src="http://micro.fanqielaile.net/views/c/taianSafe/util/date.js"></script>
<script type="text/javascript" charset="utf-8" src="http://micro.fanqielaile.net/static/js/library/jquery-weui/jquery-weui.js"></script>
<script type="text/javascript" charset="utf-8" src="http://micro.fanqielaile.net/static/js/lib.min.js"></script>
<script type="text/javascript" charset="utf-8" src="http://micro.fanqielaile.net/views/c/taianSafe/util/event.js"></script>
<script type="text/javascript" charset="utf-8" src="http://micro.fanqielaile.net/views/c/taianSafe/taianSafe.js"></script>
</body>
</html>