<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta content="telephone=no" name="format-detection">
    <!--<meta http-equiv="pragma" content="no-cache">-->
    <!--<meta http-equiv="cache-control" content="no-cache;no-store">-->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>2015年客栈运营年报,请查收</title>
    <link rel="stylesheet" media="screen" href="http://assets.test.fanqiele.com/core/css/tomasky.core.all.css" />
    <link type="text/css" rel="stylesheet" href="http://micro.fanqielaile.net/static/js/library/swiper-3.2.7/css/swiper.min.css">
<link type="text/css" rel="stylesheet" href="http://micro.fanqielaile.net/views/c/annualReport/annualReport.css">
<script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?f982003799c920ee8d4e14f679f3e82b";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<div class="swiper-container">
    <div class="swiper-wrapper ms-controller" ms-controller="annualReport">
        <section class="swiper-slide swiper-slide1">
          <div class="star">
            <div class="days">
              <h2>2015年</h2>
              <h2>全球<span>50000</span>家客栈民宿选择番茄来了</h2>
              <h2>工程师日夜奋战<span>3120</span>个小时</h2>
              <h2 class="update">更新了<span>122</span>个功能</h2>
            </div>
            <div class="map">
                <img data-src="http://micro.fanqielaile.net/views/c/annualReport/images/map.png" class="swiper-lazy">
            </div>
          </div>
        </section>
        <section class="swiper-slide swiper-slide2">
          <div ms-visible="showDiv.Div1">
            <div class="days">
              <h2 ms-visible="page2.days">陪伴您的<span>{{page2.days}}</span>天里</h2>
              <h2 ms-visible="page2.msgSendNum">我们为你传递祝福短信<span>{{page2.msgSendNum}}</span>条</h2>
              <h2>节省的钱可以让您</h2>
              <h2 class="mgt20"><span>欧洲5国游</span></h2>
            </div>
            <div class="trip">
                <img data-src="http://micro.fanqielaile.net/views/c/annualReport/images/trip.png" class="swiper-lazy">
            </div>
          </div>
          <div ms-visible="showDiv.Div2">
            <div class="days">
              <h2 ms-visible="page2.days">陪伴您的<span>{{page2.days}}</span>天里</h2>
              <h2 ms-visible="page2.msgSendNum">我们帮助您发送<span>{{page2.msgSendNum}}</span>条短信</h2>
              <h2>节省的钱可以让您</h2>
              <h2 class="mgt20"><span>看32场演唱会</span></h2>
            </div>
            <div class="people">
                <img data-src="http://micro.fanqielaile.net/views/c/annualReport/images/cutepeople.png" class="swiper-lazy">
            </div>
          </div>
          <div ms-visible="showDiv.Div3">
            <div class="days">
              <h2 ms-visible="page2.days">陪伴您的<span>{{page2.days}}</span>天里</h2>
              <h2 ms-visible="page2.msgSendNum">我们帮助您发送<span>{{page2.msgSendNum}}</span>条短信</h2>
              <h2>节省的钱可以让您</h2>
              <h2 class="mgt20"><span>买十斤青岛大虾</span></h2>
            </div>
            <div class="shrimp">
                <img data-src="http://micro.fanqielaile.net/views/c/annualReport/images/shrimp.png" class="swiper-lazy">
            </div>
          </div>
          <div ms-visible="showDiv.Div4">
            <div class="days">
              <h2 ms-visible="page2.days">陪伴您的<span>{{page2.days}}</span>天里</h2>
              <h2 ms-visible="page2.msgSendNum">我们帮助您发送<span>{{page2.msgSendNum}}</span>条短信</h2>
              <h2>节省的钱可以让您</h2>
              <h2 class="mgt20"><span>吃一年茶叶蛋</span></h2>
            </div>
            <div class="eggs">
                <img data-src="http://micro.fanqielaile.net/views/c/annualReport/images/eggs.png" class="swiper-lazy">
            </div>
          </div>
          <div ms-visible="showDiv.Div5">
            <div class="days">
              <h2 ms-visible="page2.days">陪伴您的<span>{{page2.days}}</span>天里</h2>
              <h2 ms-visible="page2.msgSendNum">我们帮助您发送<span>{{page2.msgSendNum}}</span>条短信</h2>
              <h2>别忘记,一条温馨的祝福短信</h2>
              <h2>就是最好的服务哦！</h2>
            </div>
            <div class="message">
                <img data-src="http://micro.fanqielaile.net/views/c/annualReport/images/message.png" class="swiper-lazy">
            </div>
          </div>
        </section>
        <section class="swiper-slide swiper-slide3">
          <div class="servPeopleNum">
            <h2>过去的一年里</h2>
            <h2 ms-visible="page3.servPeopleNum">您一共接待了<span>{{page3.servPeopleNum}}</span>位客人</h2>
            <h2 ms-visible="page3.saleNights">他们共入住<span>{{page3.saleNights}}</span>间夜</h2>
            <h2 ms-visible="page3.servPeopleRank">在<span class="dl">{{page4.regionName}}</span>排名第<span>{{page3.servPeopleRank}}</span></h2>
          </div>
          <div class="house">
              <img data-src="http://micro.fanqielaile.net/views/c/annualReport/images/house.png" class="swiper-lazy">
          </div>
          <div class="from">
            <h2>他们大多来自于</h2>
            <h2>{{customerFroms}}</h2>
          </div>
        </section>
        <section class="swiper-slide swiper-slide4">
          <div class="totalCheckInRadio">
            <h2>2015年</h2>
            <h2 ms-visible="page4.totalCheckInRadio">您的客栈平均入住率为<span>{{page4.totalCheckInRadio}}</span></h2>
            <h2 ms-visible="page4.avgCheckInRadio"><span>{{page4.regionName}}</span>平均入住率为<span>{{page4.avgCheckInRadio}}</span></h2>
            <h2 ms-visible="!page4.totalCheckInRadioRank1">您排在<span>{{page4.regionName}}</span>第<span>{{page4.totalCheckInRadioRank}}</span>位</h2>
            <h2 ms-visible="page4.totalCheckInRadioRank1">您超过了<span>{{page4.regionName}}{{page4.totalCheckInRadioRank}}</span>的用户</h2>
            <h2 ms-visible="page4.fullRoomDays">您的满房天数为<span>{{page4.fullRoomDays}}</span>天</h2>
            <h2 ms-visible="page4.fullRoomDays"><span>{{page4.regionName}}</span>最高满房天数是<span>{{page4.regionTopfullRoomDays}}</span>天</h2>
            <h2 ms-visible="page4.overRate">由于您补录了注册时间之前的订单，您的入住率已爆表。
</h2>
          </div>
          <div id="main" class="main" ms-css-height="mainHeight"></div>
        </section>
        <section class="swiper-slide swiper-slide5">
          <h2>房客年龄比例</h2>
          <div id="main1" style="margin-top:20px;" ms-css-height="main1Height" ></div>
          <div class="rate" ms-visible="page5.maleRadio">
            <h2>房客男女比例</h2>
            <div class="sexrate fl">
              <div class="man fl">
                <img data-src="http://micro.fanqielaile.net/views/c/annualReport/images/man.png" class="swiper-lazy">
                <div class="manimagerate" ms-css-height="page5.maleHeight" ms-css-background-position="page5.malePos"></div>
                <div class="mantextrate">{{page5.maleRadio}}</div>
              </div>
              <div class="woman fr">
                <img data-src="http://micro.fanqielaile.net/views/c/annualReport/images/woman.png" class="swiper-lazy">
                <div class="womanimagerate" ms-css-height="page5.femaleHeight"  ms-css-background-position="page5.femalePos"></div>
                <div class="womantextrate">{{page5.femaleRadio}}</div>
              </div>
            </div>
          </div>
        </section>
        <section class="swiper-slide swiper-slide6">
          <div class="pre-book-day">
            <h2 ms-visible="page6.preBookDay">客人们习惯提前<span>{{page6.preBookDay}}</span>天预订</h2>
            <h2 ms-visible="!page6.preBookDay">客人们习惯于<span>当日</span>预订</h2>
            <h2 ms-visible="page6.topWeekDay">预订高峰是<span>周{{page6.topWeekDay}}</span></h2>
            <h2 ms-visible="page6.topCheckIn">客人通常在</h2>
            <h2 ms-visible="page6.topCheckIn"><span>{{page6.topCheckIn}}点-{{page6.topCheckIn+1}}点</span>到店</h2>
            <h2>请您做好准备</h2>
          </div>
          <div class="earch">
              <img data-src="http://micro.fanqielaile.net/views/c/annualReport/images/earch.png" class="swiper-lazy">
          </div>
        </section>
        <section class="swiper-slide swiper-slide7">
         <div class="avg-cost">
          <h2 ms-visible="page7.avgStayDay">客人们平均入住<span>{{page7.avgStayDay}}</span>天</h2>
          <h2 ms-visible="page7.avgCost">人均消费最高<span>{{page7.avgCost}}</span>元</h2>
          <h2 ms-visible="page4.regionName"><span>{{page4.regionName}}</span>人均消费最高为</h2>
          <h2 ms-visible="page7.regionTopAvgCost"><span class="font32">{{page7.regionTopAvgCost}}</span>元</h2>
         </div>
        <div class="money">
            <img data-src="http://micro.fanqielaile.net/views/c/annualReport/images/money.png" class="swiper-lazy">
        </div>
        </section>
        <section class="swiper-slide swiper-slide8">
          <div class="channel">
            <h1>2015年</h1>
            <h2>你的小金库中</h2>
            <h2 ms-visible="page8.channelMaxCost.name"><span>{{page8.channelMaxCost.name}}</span>为您贡献最多</h2>
            <h2 ms-visible="page8.channelMaxCost.cost">为<span>{{page8.channelMaxCost.cost}}</span>元</h2>
          </div>
          <div id="main3" class="main3" ms-css-height="main3Height"></div>
        </section>
        <section class="swiper-slide swiper-slide9">
          <div class="favorite-room-type">
            <h2 ms-visible="page9.favoriteRoomType">您最受欢迎的房型是<span>{{page9.favoriteRoomType}}</span></h2>
            <h2 ms-visible="page9.leastFavoriteRoomType"><span>{{page9.leastFavoriteRoomType}}</span>房型人气有待提升</h2>
            <h2 ms-visible="page9.bestReturnRoomType">最佳收益房型是<span>{{page9.bestReturnRoomType}}</span></h2>
            <h2 ms-visible="page9.avgRoomPrice">您的客栈平均房价<span>{{page9.avgRoomPrice}}</span>元</h2>
            <h2 ms-visible="page9.regionAvgRoomPrice">{{page4.regionName}}客栈平均房价<span>{{page9.regionAvgRoomPrice}}</span>元</h2>
          </div>
          <div class="room-type">
              <img data-src="http://micro.fanqielaile.net/views/c/annualReport/images/roomType.png" class="swiper-lazy">
          </div>
        </section>
        <section class="swiper-slide swiper-slide10">
          <div class="total-points">
              <h2 ms-visible="page10.totalPoints">您的综合得分为<span>{{page10.totalPoints}}</span></h2>
              <h2 ms-visible="page10.totalRank">打败了<span>{{page10.totalRank}}</span>的用户</h2>
          </div>
          <div id="main2" class="main2" style="height:300px"></div>
          <div class="ld-bg">
              <img data-src="http://micro.fanqielaile.net/views/c/annualReport/images/ldBg.png" class="swiper-lazy">
              <h3 style="margin-top:10px;">年报数据截止至2015年12月25日</h3>
              <h3>点击雷达图对应区域显示对应的战斗值</h3>
          </div>
        </section>
        <section class="swiper-slide swiper-slide11 dd" style="background:#e7594d;">
              <div class="thanks"> 
                <h2>感谢一年来您与番茄一起成长</h2>
                <h2>2016年，我们将继续陪伴您左右</h2>
              </div>
              <div class="qr-code">
                <img data-src="http://micro.fanqielaile.net/views/c/annualReport/images/qrCode.png" class="swiper-lazy">
              </div>
              <div class="attention"> 

                <h2>关注公众号</h2>
                <h2>更多精彩，敬请期待</h2>
              </div>
        </section>
    </div>
   <img src="http://micro.fanqielaile.net/views/c/annualReport/images/arrow.png" style="width:20px;height:15px; top:460px; left:150px;" id="array" class="resize">
 </div>
  <div class="no-data">
    <div class="terible">
      <h1>糟糕，您的数据量过少</h1>
      <h3>年报数据截止至2015年12月25日</h3>
    </div>
    <div class="no-data-img">
        <img src="http://micro.fanqielaile.net/views/c/annualReport/images/noData.png" class="swiper-lazy">
    </div>
    <div class="together">
      <h2>2016年，别忘记</h2>
      <h2>和全球数万家客栈一起</h2>
      <h2>使用番茄来了</h2>
    </div>
 </div>
<script type="text/javascript" src="http://assets.test.fanqiele.com/core/js/tomasky.core.all.js"></script>
<script type="text/javascript" charset="utf-8" src="http://micro.fanqielaile.net/static/js/lib.min.js"></script>
<script type="text/javascript" charset="utf-8" src="http://micro.fanqielaile.net/static/js/library/echarts-2.2.7/echarts-all.js"></script>
<script type="text/javascript" charset="utf-8" src="http://micro.fanqielaile.net/static/js/library/swiper-3.2.7/js/swiper.min.js"></script>
<script type="text/javascript" charset="utf-8" src="http://micro.fanqielaile.net/views/c/annualReport/annualReport.js"></script>
</body>
</html>